.text-field {
	position: relative;
}

.text-field label {
	display: inline-block;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 10px;
	color: #ff0057;
}

.text-field input {
	outline: none;
	padding: 10px 0;
	display: block;
	width: 100%;
	color: #fff;
	font-size: 14px;
	border: 2px solid transparent;
	border-bottom: 2px solid #ff0057;
	background-color: transparent;
	color: #171b1d;
}
.text-field label {
	color: #ff0057;
}

@media screen and (max-width: 639.98px) {
	.text-field {
		width: 80% !important;
		margin-left: auto;
		margin-right: auto;
	}
}
