.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 40px;
	bottom: 0;
}
.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	color: #ff0057;
	border: 2px solid #ff0057;
	opacity: 0.5;
	font-weight: 900;
	font-size: 12px;
	transition: all 0.25s linear;
}
.circle:hover {
	opacity: 1;
}
.circle-active {
	opacity: 1;
	background-color: #ff0057;
	color: white;
}
