* {
  font-family: 'Chakra Petch', sans-serif;
}
p {
  letter-spacing: normal !important;
  background-color: transparent !important;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  max-width: 1536px;
  height: 100vh;
  margin: 0 auto;
}
