table,
th,
td {
	border: 1px solid #adac9a;
	border-collapse: collapse;
	padding: 6px 12px;
}
.wrapper-table {
	position: relative;
	height: 40vh;
}
.table {
	overscroll-behavior-x: contain;
	width: 100%;
}
.table-head {
	text-align: left;
	background-color: #ff005527;
}
.tabble-row-item td:nth-child(1) {
	width: 40%;
}
.tabble-row-item td:nth-child(2) {
	width: 30%;
}
.tabble-row-item td:nth-child(3) {
	width: 20%;
}
.tabble-row-item td:nth-child(4) {
	width: 10%;
}
.tabble-row-item td:last-child button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
	background-color: #ff0057 !important;
	border-radius: 4px;
	color: #fff !important;
	margin-left: auto;
	margin-right: auto;
}

.tabble-row-item td button:hover {
	opacity: 0.8;
}
@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px) {
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}
	.tabble-row-item td {
		width: auto !important;
		max-width: 100% !important;
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	.tabble-row-item:not(:last-child) {
		margin-bottom: 20px;
	}
	.tabble-row-item td:last-child div {
		display: flex;
		justify-content: start;
		align-items: center;
	}
	td:nth-of-type(1):before {
		content: 'Name';
	}
	td:nth-of-type(2):before {
		content: 'Author';
	}
	td:nth-of-type(3):before {
		content: 'Topic';
	}
	td:nth-of-type(4):before {
		content: 'Action';
	}
}
