.btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s linear;
}
.btn-primary {
  background-color: #ff0057;
  border: 2px solid white;
  box-shadow: 0 0 4px #ff0057;
  color: white;
}
.btn-secondary {
  background-color: white;
  box-shadow: 0 0 4px #171b1d;
  border: 2px solid #ff0057;
  color: #ff0057;
}
.btn-primary:hover {
  background-color: white;
  box-shadow: 0 0 8px #ff0057;
  border: 2px solid #ff0057;
  color: #ff0057;
}
.btn-secondary:hover {
  background-color: white;
  box-shadow:
    0 0 8px #ff0057,
    0 0 8px #ff0057;
  border: 2px solid #fff;
  color: #ff0057;
}
