.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
@media screen and (max-width: 639.98px) {
  .task {
    flex-direction: column;
    row-gap: 40px;
  }
}
