.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1536px;
  height: 60px;
  padding: 0 40px;
  align-items: center;
  border-bottom: 2px solid #ff0057;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left p {
  font-size: 32px;
  font-weight: 900;
  color: #ff0057;
}
.nav-left p span {
  font-size: 18px;
  font-weight: 900;
  color: #171b1d;
}

.nav-right {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.nav-right .user {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 4px;
}
.nav-right .user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #ff0057;
  padding: 2px;
}
.nav-right .user p {
  color: #171b1d;
  font-weight: 700;
}

.navbar button {
  display: none;
  width: 40px;
  height: 40px;
  font-size: 24px;
}
