:root {
	--red-color: '#FF0057';
	--black-color: '#171b1d';
}
* {
	font-family: 'Chakra Petch', sans-serif;
}
body {
	max-width: 1536px;
	height: 100vh;
	margin: 0 auto;
}
.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
}
.wrapper-loading {
	width: 100vw;
	height: 100vh;
}
@media screen and (max-width: 639.98px) {
	.task {
		flex-direction: column;
		row-gap: 40px;
	}
}
