:root {
	--red-color: '#FF0057';
	--black-color: '#171b1d';
}
p {
	letter-spacing: normal !important;
	background-color: transparent !important;
}
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.light {
	background-color: #fff !important;
	color: #171b1d !important;
}
.container {
	max-width: 1536px;
	padding: 0 40px;
	margin: 60px auto;
}
